---
import Layout from '../layouts/Layout.astro';
import { Apply } from '../components/organisms/Apply.jsx';
---

<Layout title="Testing Page" description='?'>
    <section>
        <Apply client:load/>
        
    </section>
</Layout>