---
import Layout from '../layouts/Layout.astro';
import FormJob from '../components/react/organisms/FormJob.jsx';
---

<Layout title="Testing Page" description='?'>
    <h1>Testing Page</h1>
    <section>
        <FormJob client:load/>
    </section>
</Layout>